body { 
  background-color: #f0f0f5;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* Centrar horizontalmente el contenido */
  align-items: center;     /* Centrar verticalmente el contenido */
  height: 100vh;          /* Asegurar que el cuerpo ocupe toda la altura de la ventana */
  margin: 0;              /* Eliminar márgenes por defecto */
}

h1 {
  color: #003366;
  text-align: center;
}

h2 {
  color: #666666;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  width: 300px;           /* Ancho fijo para la barra lateral */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    /* Alinear elementos al centro */
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
input {
  margin-bottom: 10px;
  width: 90%;
  padding: 10px;
}

button {
  background-color: #003366;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 80%;
}

button:hover {
  opacity: 0.8;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #003366;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
